name: patch_releases

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
        - ref: prod/v1.16.2-patched
          version: v1.16.2-patched

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ matrix.ref }}
        fetch-depth: 0
        fetch-tags: true

    - run: git tag -f "${{ matrix.version }}"

    - run: make binaries

    - run: cd binaries && sha256sum -b * > checksums.sha256

    - uses: actions/upload-artifact@v6
      with:
        name: binaries-${{ matrix.version }}
        path: binaries

    - uses: softprops/action-gh-release@v2
      with:
        target_commitish: ${{ matrix.ref }}
        tag_name: ${{ matrix.version }}
        name: ${{ matrix.version }}
        prerelease: true
        append_body: true
        generate_release_notes: false
        files: binaries/*
